<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:replace="fragments/page.html :: head"/>
    <title>Profile</title>
</head>
<body class="body--fill-height">

    <th:block th:replace="fragments/page.html :: navigation"/>

    <div class="section-wrapper section-wrapper--fill-top">
        <section class="section section--content">
            <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">there</span> 👋</h1>

            <p>Here are your roles:</p>
            <ul>
                <li th:each="authority : ${#authentication.authorities}">
                    <span th:text="${authority.authority}"></span>
                </li>
            </ul>

            <p>Here are application settings</p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Active Profile</td>
                    <td>spring.profiles.active</td>
                    <td th:text="${@environment.getProperty('spring.profiles.active')}"></td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td>app.version</td>
                    <td th:text="${@environment.getProperty('app.version')}"></td>
                </tr>
                <tr>
                    <td>DKG API URL</td>
                    <td>dkg.api.url</td>
                    <td th:text="${@environment.getProperty('dkg.api.url')}"></td>
                </tr>
                <tr>
                    <td>DKG API Key</td>
                    <td>dkg.api.key</td>
                    <td th:text="${@environment.getProperty('dkg.api.key')}"></td>
                </tr>
                <tr>
                    <td>Default Verifier</td>
                    <td>verifiers.default.enabled</td>
                    <td th:text="${@environment.getProperty('verifiers.default.enabled')}"></td>
                </tr>
                <tr>
                    <td>Scraper Verifier</td>
                    <td>verifiers.scraper.enabled</td>
                    <td th:text="${@environment.getProperty('verifiers.scraper.enabled')}"></td>
                </tr>
                <tr>
                    <td>Database Engine</td>
                    <td>spring.datasource.driver-class-name</td>
                    <td th:text="${@environment.getProperty('spring.datasource.driver-class-name')}"></td>
                </tr>
                <tr>
                    <td>Database URL</td>
                    <td>spring.datasource.url</td>
                    <td th:text="${@environment.getProperty('spring.datasource.url') == null ? 'N/A' : @environment.getProperty('spring.datasource.url').substring(0, 5) + '...'}"></td>
                </tr>
                <tr>
                    <td>Database Username</td>
                    <td>spring.datasource.username</td>
                    <td th:text="${@environment.getProperty('spring.datasource.username') == null ? 'N/A' : @environment.getProperty('spring.datasource.username').substring(0, 5) + '...'}"></td>
                </tr>
                <tr>
                    <td>Database Password</td>
                    <td>spring.datasource.password</td>
                    <td th:text="${@environment.getProperty('spring.datasource.password') == null ? 'N/A' : @environment.getProperty('spring.datasource.password').substring(0, 5) + '...'}"></td>
                </tr>
            </table>

        </section>
    </div>

    <th:block th:replace="fragments/page.html :: footer"/>
</body>
</html>