<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/page.html :: head"/>

    <title>Truthchain Login</title>
</head>
<body class="body--fill-height">
    <section th:replace="fragments/page.html :: navigation"></section>

    <div class="section-wrapper section-wrapper--fill-center">
        <section class="section section--login">

            <form class="form" th:action="@{/login}" method="post">

                <div class="form__message" th:if="${param.error}">
                   // Invalid username or password
                </div>
                <div class="form__message" th:if="${param.logout}">
                   // You have been logged out
                </div>

                <label class="form__label">Username</label>
                <input class="form__input" type="text" name="username" placeholder="luke@skywlaker.force" required/>

                <label class="form__label">Password</label>
                <input class="form__input" type="password" name="password" placeholder="LukeTheJed1" required minlength="6"/>

                <input class="form__button" type="submit" value="Login"/>
            </form>
        </section>
    </div>

    <section th:replace="fragments/page.html :: footer"></section>
</body>
</html>