<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:replace="fragments/page.html :: head"/>
    <title>Profile</title>
</head>
<body class="body--fill-height">

    <th:block th:replace="fragments/page.html :: navigation"/>

    <div class="section-wrapper section-wrapper--fill-top">
        <section class="section section--content">
            <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">there</span> 👋</h1>

            <p>Here are your roles:</p>
            <ul>
                <li th:each="authority : ${#authentication.authorities}">
                    <span th:text="${authority.authority}"></span>
                </li>
            </ul>
        </section>
    </div>

    <th:block th:replace="fragments/page.html :: footer"/>
</body>
</html>