<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:replace="fragments/page.html :: head"/>
    <title>Snippet Preview</title>
</head>
<body class="body--fill-height">

    <th:block th:replace="fragments/page.html :: navigation"/>

    <div class="section-wrapper section-wrapper--fill-top">
        <section class="section section--content">
            <h1 th:inline="text">Snippet Preview</h1>

            <table>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td class="cloumn-name">Source</td>
                    <td>
                        <a th:href="${snippet.url}"
                           th:text="${snippet.url}"
                           id="js-source-link"
                           target="_blank">
                            Loading Source...
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="cloumn-name">UAL</td>
                    <td>
                        <a th:href="${'https://dkg.origintrail.io/explore?ual=' + snippet.ual}"
                           th:text="${snippet.ual}"
                           target="_blank">
                            No UAL Found
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="cloumn-name">TCID</td>
                    <td th:text="${snippet.id}"></td>
                </tr>
                <tr>
                    <td class="cloumn-name">Title</td>
                    <td th:text="${snippet.title}"></td>
                </tr>
                <tr>
                    <td class="cloumn-name">Content</td>
                    <td th:text="${snippet.content}"
                        id="js-content">
                    </td>
                </tr>
                <tr>
                    <td class="cloumn-name">Created At</td>
                    <td th:text="${snippet.createdAt}"></td>
                </tr>
                <tr>
                    <td class="cloumn-name">Status</td>
                    <td th:text="${snippet.status}"></td>
                </tr>
            </table>

        </section>
    </div>

    <th:block th:replace="fragments/page.html :: footer"/>

    <script>

        function generateTextFragment(url, content) {

            // if chrome text fragment is present, return the url
            if (url.includes("#:~:text") && url.split("#:~:text=")[1]) {
                return url;
            }

            // remove html
            let cleanContent = content?.replace(/<\/?[^>]+(>|$)/gi, "");

            // remove ... from the end if it exists (copilot sometimes adds ... to the end of the content)
            if (cleanContent.endsWith("...")) {
                cleanContent = cleanContent.substring(0, cleanContent.length - 3);
            }

            const getFragment = (sentence) => {

                let words = sentence.trim().split(" ");

                let textFragment = encodeURIComponent(words.join(" "));

                // manually encode dashes
                textFragment = textFragment.replaceAll("-", "%2D");

                return textFragment;
            }

            let textFragments = "";

            let sentences = cleanContent.split(". ");
            for (let i = 0; i < sentences.length; i++) {
                textFragments += i === 0 ? getFragment(sentences[i]) : "&text=" + getFragment(sentences[i]);
            }

            return url + "#:~:text=" + textFragments;
        }

        // generate textFragment from content and add it to js-source-link
        const content = document.getElementById('js-content').innerText;
        const url = document.getElementById('js-source-link').innerText;
        const textFragment = generateTextFragment(url, content);

        document.getElementById('js-source-link').setAttribute('href', textFragment);
    </script>
</body>
</html>